<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
                android:name="com.microsoft.xal.browser.IntentHandler"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="sensorLandscape"
                android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
                android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data
                        android:scheme="@string/xal_token"
                        android:host="auth"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.microsoft.xal.browser.BrowserLaunchActivity"
                android:exported="false"
                android:launchMode="singleTask"
                android:screenOrientation="sensorLandscape"
                android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
                android:alwaysRetainTaskState="true"/>

        <activity
                android:name="com.microsoft.xal.browser.WebKitWebViewController"
                android:exported="false"
                android:launchMode="singleTask"
                android:screenOrientation="sensorLandscape"
                android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
                android:alwaysRetainTaskState="true"/>

    </application>

</manifest>
