<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcal.mcpelauncher">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.mcal.mcpelauncher.ModdedPEApplication"
        android:allowBackup="true"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/FullScreenTheme">

        <activity
            android:name="com.mcal.mcpelauncher.app.MainActivity"
            android:label="@string/main_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <service android:name="com.mcal.mcpelauncher.app.SoundService" />

        <activity
            android:name="com.mcal.mcpelauncher.app.SplashesActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.MinecraftActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:excludeFromRecents="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme">

            <meta-data
                android:name="android.app.lib_name"
                android:value="launcher-core" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="minecraft" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.AboutActivity"
            android:label="@string/about_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.NModDescriptionActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.NModFilePickerActivity"
            android:label="@string/nmod_picker_file_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.DirPickerActivity"
            android:label="@string/dir_picker_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.MCPkgPickerActivity"
            android:label="@string/pkg_picker_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.NModPackagePickerActivity"
            android:label="@string/nmod_picker_package_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.NModLoadFailActivity"
            android:label="@string/nmods_load_failed_title"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.PreloadActivity"
            android:label="@string/prestart_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme">

        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.app.ImportNModActivity"
            android:icon="@drawable/mcd_add_pack"
            android:label="@string/import_nmod_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.mcnmod"
                    android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.zip"
                    android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apk"
                    android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.nmod"
                    android:scheme="file" />
            </intent-filter>

        </activity>

    </application>

</manifest>

