<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcal.mcpelauncher"
    android:installLocation="preferExternal">

    <!-- Неограниченный доступ к Интернету -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- Просмотр сетевых подключений -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Изменение/удаление данных на USB-накопителе -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- Управление функцией вибросигнала -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Поиск аккаунтов на устройстве -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Просмотр контактов -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Отключение спящего режима -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Просмотр подключений Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <!-- uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" / -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <queries>
        <package android:name="com.mojang.minecraftpe" />
        <package android:name="com.mojang.minecrafttrialpe" />

        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name="com.mcal.mcpelauncher.ModdedPEApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:fullBackupContent="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:targetApi="q">

        <activity
            android:name="com.mcal.mcpelauncher.activities.MainActivity"
            android:label="@string/main_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.SplashesActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.activities.MinecraftActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:excludeFromRecents="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="launcher-core" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mcal.mcpelauncher.ui.AboutActivity"
            android:label="@string/about_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.NModDescriptionActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.NModFilePickerActivity"
            android:label="@string/nmod_picker_file_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.ui.DirPickerActivity"
            android:label="@string/dir_picker_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.MCPkgPickerActivity"
            android:label="@string/pkg_picker_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.NModPackagePickerActivity"
            android:label="@string/nmod_picker_package_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.NModLoadFailActivity"
            android:label="@string/nmods_load_failed_title"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.activities.PreloadActivity"
            android:label="@string/prestart_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.mcal.mcpelauncher.ui.ImportNModActivity"
            android:icon="@drawable/mcd_add_pack"
            android:label="@string/import_nmod_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\.mcnmod"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\.zip"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\.apk"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\.nmod"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ExceptionActivity"
            android:label="Application Error"
            android:theme="@style/AppErrorTheme" />

        <service android:name="com.mcal.mcpelauncher.services.SoundService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mcal.mcpelauncher.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.mcal.mcpelauncher.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name="com.mcal.mcpelauncher.addon.AddonInstallerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:debuggable="false"
            android:excludeFromRecents="false"
            android:icon="@drawable/mcd_add_pack"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="launcher-core" />
            <!-- intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\.mcworld" />
                <data android:pathPattern=".*\..*\.mcworld" />
                <data android:pathPattern=".*\..*\..*\.mcworld" />
                <data android:pathPattern=".*\..*\..*\..*\.mcworld" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.mcworld" />
                <data android:pathPattern=".*\.mcpack" />
                <data android:pathPattern=".*\..*\.mcpack" />
                <data android:pathPattern=".*\..*\..*\.mcpack" />
                <data android:pathPattern=".*\..*\..*\..*\.mcpack" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.mcpack" />
                <data android:pathPattern=".*\.mcaddon" />
                <data android:pathPattern=".*\..*\.mcaddon" />
                <data android:pathPattern=".*\..*\..*\.mcaddon" />
                <data android:pathPattern=".*\..*\..*\..*\.mcaddon" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.mcaddon" />
                <data android:pathPattern=".*\.mctemplate" />
                <data android:pathPattern=".*\..*\.mctemplate" />
                <data android:pathPattern=".*\..*\..*\.mctemplate" />
                <data android:pathPattern=".*\..*\..*\..*\.mctemplate" />
                <data android:pathPattern=".*\..*\..*\..*\..*\.mctemplate" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1411495427741055~9893928391" />

        <!-- Minecraft -->

        <activity
            android:name="com.mojang.minecraftpe.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:debuggable="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="xbox_live_game_invite" />
                <action android:name="xbox_live_achievement_unlock" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="minecraft" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="appcenter_android_trial_id"
            android:value="@string/appcenter_android_id" />

        <service
            android:name="com.mojang.minecraftpe.ImportService"
            android:exported="true" />

        <meta-data
            android:name="xperiaplayoptimized_content"
            android:resource="@string/xperiaplayoptimized_content" />
        <meta-data
            android:name="game_display_name"
            android:resource="@string/app_name" />
        <meta-data
            android:name="game_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="appcenter_android_id"
            android:value="@string/appcenter_android_id" />

        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"
                    android:windowSoftInputMode="adjustResize"
                    tools:ignore="InvalidPermission" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="xperiaplaycertified"
            android:required="false" />

        <!-- Xbox Live SDK -->

        <activity
            android:name="com.microsoft.xal.browser.IntentHandler"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="auth"
                    android:scheme="ms-xal-0000000048183522" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.xal.browser.WebKitWebViewController"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name="com.microsoft.xal.browser.BrowserLaunchActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />

        <!--activity
            android:name="com.microsoft.xal.browser.WebView"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" / -->

    </application>

</manifest>