<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
            android:glEsVersion="0x20000"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application>

        <meta-data
            android:name="appcenter_android_trial_id"
            android:value="@string/appcenter_android_id" />

        <service
            android:name="com.mojang.minecraftpe.ImportService"
            android:exported="false" />

        <meta-data
            android:name="game_display_name"
            android:resource="@string/app_name" />

<!--        <meta-data-->
<!--            android:name="game_icon"-->
<!--            android:resource="@mipmap/ic_launcher_round" />-->

        <meta-data
            android:name="appcenter_android_id"
            android:value="@string/appcenter_android_id" />

        <service
            android:name="com.mojang.minecraftpe.NotificationListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
